tree = {
    'primary':{
        'children': {
            'shaded':{
                'procedure': desaturate
                'params': {
                    color: null
                    value: 40%
                }
                'children':{
                    'lucent': {
                        'procedure': transparentify
                        'params': {
                            background: #234
                            color: null
                            opacity: 0.6
                        }
                    }
                }
            }
            'intense':{
                'procedure': darken
                'params': {
                    color: null
                    value: 0.3
                }
            }
        }
    }
    lucent: {
        default: transparent
    }
    'highlight':{
        'children': {
            'shaded':{
                'procedure': desaturate
                'params': {
                    color: null
                    value: 40%
                }
            }
        }
    }
}
baseTheme = {
    'primary': red
    'secondary': blue
    'primary-shaded': #F000DE
}

@import '../colorsystem/index.styl'

theme = prepareTheme(baseTheme, tree)
p(theme);
